# Framework Environment
ENV 				=	 dev

#MySQL Credential
MYSQL_ROOT_PASSWORD =    fsfsd@#SFSF
MYSQL_DATABASE      =    FAM
MYSQL_USER          =    famUser
MYSQL_PASSWORD      =    sfsd54fsd@#ddd

# Local environments
LOCAL_UID=1000
LOCAL_GID=1000

# ---------Local---------
# user localhost for local and db for docker
DB_HOST          = mysql:host=db;port=3306;dbname=FAM
DB_USERNAME      = root
DB_PASSWORD      = fsfsd@#SFSF
DB_TABLE_PREFIX  = tbl_

BASE_URL = http://localhost/