# Framework Environment
APP_ENV				=	 dev

#MySQL Credential
MYSQL_ROOT_PASSWORD =    fsfsd@#SFSF
MYSQL_DATABASE      =    FAM
MYSQL_USER          =    famUser
MYSQL_PASSWORD      =    sfsd54fsd@#ddd

# Local environments
LOCAL_UID=1000
LOCAL_GID=1000

# ---------Local---------
# user localhost for local and db for docker
DB_HOST 		 = db
DB_PORT 		 = 3306
DB_NAME 		 = FAM
DB_USERNAME      = root
DB_PASSWORD      = fsfsd@#SFSF

BASE_URL = http://localhost/